@import "./base.css";
$zdeg: 450px;
.outer-wrap {
    position: relative;
    width: 80%;
    height: 300px;
    margin: 80px auto;
    perspective: 800px;
    .inner-wrap {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 300px;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
        transition: transform 1s;
        img {
            width: 300px;
            height: 220px;
            position: absolute;
            bottom: 0;
            &:nth-child(1) {
                transform: rotateY(0deg) translateZ($zdeg);
            }
            &:nth-child(2) {
                transform: rotateY(60deg) translateZ($zdeg);
            }
            &:nth-child(3) {
                transform: rotateY(120deg) translateZ($zdeg);
            }
            &:nth-child(4) {
                transform: rotateY(180deg) translateZ($zdeg);
            }
            &:nth-child(5) {
                transform: rotateY(240deg) translateZ($zdeg);
            }
            &:nth-child(6) {
                transform: rotateY(300deg) translateZ($zdeg);
            }
        }
    }
}