<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>有趣的鼠标悬浮模糊效果</title>
    <link rel="stylesheet" type="" href="/dest/css/mhover.css">
</head>

<body>
    <div class="outer-wrap">
        <div class="bg"></div>
        <div class="inner-wrap">
            <div class="line top"></div>
            <div class="line bottom"></div>
            <div class="line left"></div>
            <div class="line right"></div>
            <div class="text">
                <h1 class="slogan">
                    能力越大，责任越大
                </h1>
                <a href="" class="link">点击进入</a>
            </div>

        </div>
    </div>

</body>

</html>