<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CSS3 3D轮播图</title>
    <link rel="stylesheet" type="" href="/dest/css/3d.css">
</head>

<body>
    <div class="outer-wrap">
        <div class="inner-wrap">
            <img src="/public/images/3d/1.jpg" alt="">
            <img src="/public/images/3d/2.jpg" alt="">
            <img src="/public/images/3d/3.jpg" alt="">
            <img src="/public/images/3d/4.jpg" alt="">
            <img src="/public/images/3d/5.jpg" alt="">
            <img src="/public/images/3d/6.jpg" alt="">
            <img src="/public/images/3d/7.jpg" alt="">
        </div>
    </div>
</body>

</html>